<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Payroll.DataAccess.Properties.Settings.PayrollConnectionString"
            connectionString="Data Source=JONATHAN-PC\SQLEXPRESS;Initial Catalog=Payroll;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>