<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Payroll.DataAccess.Properties.Settings.PayrollConnectionString"
            connectionString="Data Source=JONATHAN-PC\SQLEXPRESS;Initial Catalog=Payroll;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Payroll.DataAccess.Properties.Settings.EBeeConnectionString"
            connectionString="Data Source=.\SqlExpress;Initial Catalog=EBee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Payroll.DataAccess.Properties.Settings.aspnet_PayrollSystem_20131004084223ConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\aspnet-PayrollSystem-20131004084223.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>