/*******************************************************************************/

/* START NAV MENU */
nav{
  position :relative;
  background-color:#2C5463;
  height:30px;
  z-index :12;
}
  
nav ul {
  font-family: Arial, Verdana;
  font-size: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight :600;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
}
 
#menu li ul { 
  display: none; 
}


#menu span {
  display: block;
  text-decoration: none;
  padding: 5px 20px 0px 10px;
  /*background: #2C5463;*/
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height:25px; /* Width and height of top-level nav items */
  width:120px;
  text-align:center;
  cursor: pointer;
} 
 
#menu ul li a {
  text-decoration: none;
  padding: 5px 20px 0px 10px;
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height:17px; /* Width and height of top-level nav items */
  width:200px;
  text-align:center;
 
}

#menu li:hover span{
	display: block;
	background: #617F8A;
    background-color :green;	
	width :120px;
} 

#menu li:hover a  
{
	position: relative;
	display: block;
	height:20px; /* Height of lower-level nav items is shorter than main level */
	width :120px;  
}

#menu li a:hover  
{	
    z-index:-1;    
}

#menu li:hover {
    background: #3A464F;
}

 
#menu li:hover ul {
  position: absolute;
  height:20px;
}
 
/*font for submenu links*/ 
#menu li:hover li {
  float: none;
  font-size: 12px;
  font-weight :normal;
}
  
/* hover effect for submenu links */ 
#menu li li a:hover  {
	position: relative;
   z-index:20;   
}
 
#menu ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
    padding-top : 5px;
    padding-bottom:0px;

}

/* move the second level submenu to the right to don't overlap the parent submenu */
#menu ul ul ul{
    top:0;
    left:150px;               
} 

/* show a submenu if the direct parent listitem is hovered */
#menu li:hover > ul{
    display:block;
} 

/*keep background colo of parent when hove to child*/ 
#menu li:hover ,li.sfhover
{
	position: relative;
	background: #95A9B1;
}



#menu ul ul li {
    background-color: #3A464F;
    position: relative;
}

/*#menu li.last {
	background-color:yellow
		
}*/

/* END NAV MENU */
